/* styles for main page */
body{
    font-family: "微软雅黑";
    margin-top:0px;
    margin-bottom:28px;
}

/*div{
    display:block;
}*/

.solid_red{
    border:solid 2px red;
}

.solid_blue{
    border:solid 2px blue;
}

.solid_greed{
    border:solid 2px green;
}

.fl_lf{
    float:left;
}

.fl_rt{
    float:right;
}

.inline{
    display:inline;
}

.none_style{
    list-style:none;
}

.lf_pad{
    padding-left:10px;
}

 .clear{
    margin:0;
    padding:0;
    border:0;
    clear:both;
}

#bottom {
    text-align:center;
    display:block;
    clear:left;
}
#bottom .copyright{
    padding:10px,0;
}

#top {
    background: #555555;
    padding: 5px 0px 5px 30px;
    color: #fff;
    text-indent: 20px;
}

#banner{
    /*background: #eeeeee;*/
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 120px;
    border-bottom:2px solid;
    font: small-caps 18px/18px Arial "Times New Roman", serif;
    color: #555555;
    text-align: left;
}

#banner h1{
    height: 10px;
    line-height: 10px;
}

#banner h1 a {
    font-size:30px;
    text-decoration: none;
}

#banner h1 a:hover{
    color: #000000;
    display:inline;
    background:#eeeeee;
}

#menu{
    padding: 0 0 0 125px;
    margin: 1px;
    list-style:none;
    height:35px;
    text-indent: 10px;
    font-family: Arial;
    font-size: 14px;
    width: auto;
    background: #009900;
    border-bottom-width:2px;
}

#menu li{
    text-align: center;
    float :left;
}

#menu a{
    line-height:35px;
    color: #00cccc;
    text-decoration:none;
    text-align:center;
    padding:5px 10px 5px 10px;
}

.wrap {
    width:1120px;
    background:#f2f2f2;
    margin:0 auto;
}

.floorBox{
   /* margin:0;
    padding:0;*/
    /*height:500px;*/
}

.floorBox .hd{
    margin:0px;
    padding:0 10px 4px 0;
    height:30px;
    border-bottom:2px solid black;
    background:#fff5ee;
}

.floorBox .bd{
    height:270px;
    /*padding-top:4px;*/
}

.bd .item {
    float:left;
    display: inline;
    margin:3px 0px 20px 20px;
    width:161px;
    height:180px;
}

/*#womenBox .hd{
    margin:0px;
    padding:0 10px 0 0;
    height:30px;
}*/

.hd h3{
    margin:5px 3px 3px 3px;
}

.hd .subNav{
    margin: 5px 3px 3px 3px;
}

.bd .shadow a{
    opacity:.3;
}

.bd .shadow a:hover{
    opacity:1;
}

/*#womenBox {
    margin:0;
    padding:0;
}*/

/*#womenBox .bd li {
    float:left;
    display: inline;
    margin:0 20px 20px 0;
    width:158px;
    height:150px;
}*/

/*
.pad{
    */
/*display:block;*//*

    clear:both;
    margin:0;
    padding:1px;
}

.wrap #womenBox {
    border:2px #87ceeb solid;
}

.wrap #womenBox .hd{
    border-bottom:2px #fa8072 solid;
    height:50px;
    */
/*display:block;*//*

}

.wrap #womenBox .hd .subTit{
    float:left;
    display:inline;
}

.wrap #womenBox .subNav{
    display:inline;
    border:solid 2px #6a5acd;
}

.wrap #womenBox .subNav li{
    display:inline;
    float:right;
    border:solid 2px #2e8b57;
}

.wrap #womenBox .bd{
}
*/
